<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dionysus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2FF8C3423C9A3BF008A638E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2FF8C4A23C9A3CA008A638E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2FF8C5523C9A3CA008A638E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
